@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #fff;
    --whitesmoke: #f9f9f9;
    --light-grey: #ececec;
    --grey: #c4c4c4;
    --medium-grey: #a7a7a7;
    --deep-grey: #343434;
    --black: #000000;
    --blue: #1b77f3;
    --red: #cf3c3f;
}

main{
    display: flex;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    min-height: 100vh;
    padding: clamp(35px, 8%, 70px);
}

.wrapper{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_logo{
    width: 130px;
    margin-bottom: 80px;
}
